<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>File Browser</title>
  <link rel="stylesheet" type="text/css" href="node_modules/semantic-ui-css/semantic.min.css">

  <style>
    .toolbar {
      -webkit-user-select: none;
      -webkit-app-region: drag;
    }
  </style>
</head>

<body>
  <!--<p>-->
  <!--<input type="button" value="Reload the app after changing the code"  onClick="window.location.reload()"/>-->
  <!--</p>-->
  <div id="app" class="window">
    <div class="main">
      <div class="ui content">
        <div class="ui visible left thin sidebar">
          <nav class="ui list">
            <button class="ui icon button" @click="up">
              <i class="arrow up icon"></i>
            </button>
            <div class="ui search">
              <div class="ui icon input">
                <input type="text" v-model="filter" placeholder="Filter current directory">
                <i class="search icon"></i>
              </div>
            </div>
          </nav>
        </div>

        <div class="pusher">
          <div>
            <h1 class="title">{{ `Current location: ${location}` }}
          </div>

          <div class="ui cards">
            <span class="card" v-for="file in filteredFiles">
              <listing v-bind:key="file.id" v-bind:item="file" />
            </span>
          </div>
          <p>
            <img v-bind:src="image" />
          </p>
          <pre>{{ fileContent }}</pre>
        </div>
      </div>
    </div>
  </div>

  <!-- Hack to get jquery working -->
  <script>
    window.nodeRequire = require;
    delete window.require;
    delete window.exports;
    delete window.module;
  </script>

  <!-- Libs -->
  <script src="node_modules/vue/dist/vue.min.js"></script>
  <script src="node_modules/jquery/dist/jquery.min.js"></script>

  <!-- Custom -->
  <script src="renderer.js"></script>

</body>

</html>
